{% extends 'main.html' %} {% block content %}

<section class="section">
  <div class="section-header">
    <h1>{{ profile.name }}'s profile</h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item active"><a href="{% url 'users.index' %}">Dashboard</a></div>
      {% comment %} <div class="breadcrumb-item">Profile</div> {% endcomment %}
    </div>
  </div>
  <div class="section-body">
    
      <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate="">
          <div class="card-body">
              <div class="row">
              {% csrf_token %}
              {% for filed in form %}
              <div class="form-group col-md-6 col-12">
                <label>{{ filed.label }}</label>
                  {{filed}}
                </div>
                {% endfor %}
            </div>
              <input type="submit" class="btn btn-primary" value="Update" />
        </div>
      </form>

  </div>
  </div>
</section>

{% endblock content %}
