{% extends 'main.html' %} 

{% block content %}

<section class="section">
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">

          <div class="card card-primary">
            <div class="card-header"><h4>Register</h4></div>

            <div class="card-body">
              <form method="POST" action="">
                  {% csrf_token %}
                {% comment %} {{ form.as_p }} {% endcomment %}

                <div class="row">
                  {% for input in form %}
                  <div class="form-group col-6">
                    <label for="{{input.id}}">{{input.label}}</label>
                    {{input}}
                    {% comment %} {% if input.help_text %}
                      <span>{{ input.help_text }}</span>
                    {% endif %} {% endcomment %}
                    {% for error in input.errors %}
                      <p >{{ error }}</p>
                      dsfksdhfkdshfkskfhsjdfkjsdfkjasdfkjasdkfjasldfasdf
                    {% endfor %}
                    {% comment %} <input id="first_name" type="text" class="form-control" name="first_name" autofocus> {% endcomment %}
                  </div>
                  {% endfor %}
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-lg btn-block">
                    Register
                  </button>
                </div>
              </form>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
