{% extends 'main.html' %} {% block title %} DevSearch {% endblock title %} 
{% block style %}
<style>
  .selectgroup-button:hover {
    color: #fff !important;
  }
</style>
{% endblock style %} {% block content %}

<div class="row">
  {% for project in projects %}
  <div class="col-12 col-md-4 col-lg-4">
    <article class="article article-style-c">
      <div class="article-header">
        <div
          class="article-image"
          data-background="{{ project.featured_image.url }}"
        ></div>
      </div>
      <div class="article-details">
        <div class="article-category">{{ project.created_at }}</div>
        <div class="article-title">
          <h2>
            <a href="{% url 'project' project.id %}">{{ project.title }}</a>
          </h2>
        </div>
        <p>{{ project.description }}</p>
        <div class="article-user">
          <div class="selectgroup selectgroup-pills">
            {% for tag in project.tags.all %}
            <label class="selectgroup-item">
              <input
                type="checkbox"
                name="value"
                checked
                value="Ruby"
                disabled
                class="selectgroup-input"
              />
              <a class="selectgroup-button">{{ tag.name }}</a>
            </label>
            {% endfor %}
          </div>
        </div>
      </div>
    </article>
  </div>
  {% endfor %}
</div>

<div class="card">
  <div class="card-body">
    <nav aria-label="...">
      <ul class="pagination" style="justify-content: flex-end; margin: 0">
        {% if projects.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{projects.previous_page_number}}" tabindex="-1">Previous</a>
          </li>
        {% endif %}
        {% for page in paginator.page_range %}
        <li class="page-item">
          <a class="page-link" href="?page={{page}}">{{page}}</a>
        </li>
        {% endfor %} 
        {% if projects.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{projects.next_page_number}}" tabindex="-1">Next</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>



{% endblock content %}
