{% extends 'main.html' %} 

{% block content %}

<style>
    .form-group{
        margin-top: 10px;
    }
</style>

<section class="section">
<div class="section-header">
  <h1>Create project</h1>
  <div class="section-header-breadcrumb">
    <div class="breadcrumb-item "><a href="#">Dashboard</a></div>
  </div>
</div>


<form action="" method="POST" entype="multipart/form-data">
    {% csrf_token %}

    {% for input in forms %}
     <div class="form-group">
        <label>{{ input.label }}</label>
            {{ input }}
      </div>
      
    {% endfor %}

    <input type="submit" value="Update" class="btn btn-primary">
</form>
</section>

{% endblock content %}
